body {
  height: 100%;
  margin: 0;
  width: 100%;
}

.container {
  align-items: top;
  display: flex;
  flex-direction: row;
  height: 50vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;
}

input {
  background-color: rgb(245, 187, 105);
  color: rgb(11, 69, 151);
  font-weight: 900;
  margin: 0;
  text-align: center;
  width: 150px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  margin: 0;
}

p {
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 172px;
  text-align: center;
}

.btn {
  margin-bottom: 5px;
  margin-left: 20px;
}

@media (max-width: 1067px) {
  .btn {
    margin: 0;
  }

  p {
    margin-right: 132px;
  }
}
